h1 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: yellow;
}

ul, ol {
    background-color: brown;
    color: white;
}